$font-header: 'Barlow Semi Condensed', sans-serif;
$font-content: 'Poppins', sans-serif;

$theme-color: #b89463; //rgb(191, 146, 91)
$theme-color-alt: #b08853;
// i brief från kunden så finns instruktioner om en svart och en beige färg, men kan inte lista ut vilka segment detta rör

$header-height: 915px;

$breakpoint-mobile: 800px; //maxbredd mobil
$breakpoint-tablet: 1000px; // maxbredd tablet